<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>cityNamePY</key>
			<string>beijing</string>
			<key>cityNameEN</key>
			<string>Beijing</string>
			<key>cityName</key>
			<string>北京</string>
			<key>country</key>
			<string>中国</string>
			<key>timeZone</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>cityNamePY</key>
			<string>jiujinshan</string>
			<key>cityNameEN</key>
			<string>SanFrancisco</string>
			<key>cityName</key>
			<string>旧金山</string>
			<key>country</key>
			<string>美国</string>
			<key>timeZone</key>
			<integer>-8</integer>
		</dict>
		<dict>
			<key>cityNamePY</key>
			<string>niuyue</string>
			<key>cityNameEN</key>
			<string>NewYork</string>
			<key>cityName</key>
			<string>纽约</string>
			<key>country</key>
			<string>美国</string>
			<key>timeZone</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>cityNamePY</key>
			<string>lundun</string>
			<key>cityNameEN</key>
			<string>London</string>
			<key>cityName</key>
			<string>伦敦</string>
			<key>country</key>
			<string>英国</string>
			<key>timeZone</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cityNamePY</key>
			<string>bali</string>
			<key>cityNameEN</key>
			<string>Paris</string>
			<key>cityName</key>
			<string>巴黎</string>
			<key>country</key>
			<string>法国</string>
			<key>timeZone</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cityNamePY</key>
			<string>kaipudun</string>
			<key>cityNameEN</key>
			<string>CapeTown</string>
			<key>cityName</key>
			<string>开普敦</string>
			<key>country</key>
			<string>南非</string>
			<key>timeZone</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>cityNamePY</key>
			<string>shouer</string>
			<key>cityNameEN</key>
			<string>Seoul</string>
			<key>cityName</key>
			<string>首尔</string>
			<key>country</key>
			<string>韩国</string>
			<key>timeZone</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>cityNamePY</key>
			<string>xini</string>
			<key>cityNameEN</key>
			<string>Sydney</string>
			<key>cityName</key>
			<string>悉尼</string>
			<key>country</key>
			<string>澳大利亚</string>
			<key>timeZone</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>cityNamePY</key>
			<string>huilingdun</string>
			<key>cityNameEN</key>
			<string>Wellington</string>
			<key>cityName</key>
			<string>惠灵顿</string>
			<key>country</key>
			<string>新西兰</string>
			<key>timeZone</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>cityNamePY</key>
			<string>baxiliya</string>
			<key>cityNameEN</key>
			<string>Brasilia</string>
			<key>cityName</key>
			<string>巴西利亚</string>
			<key>country</key>
			<string>巴西</string>
			<key>timeZone</key>
			<integer>-3</integer>
		</dict>
        <dict>
            <key>cityNamePY</key>
            <string>beijing</string>
            <key>cityNameEN</key>
            <string>Beijing</string>
            <key>cityName</key>
            <string>北京</string>
            <key>country</key>
            <string>中国</string>
            <key>timeZone</key>
            <integer>8</integer>
        </dict>
        <dict>
            <key>cityNamePY</key>
            <string>jiujinshan</string>
            <key>cityNameEN</key>
            <string>SanFrancisco</string>
            <key>cityName</key>
            <string>旧金山</string>
            <key>country</key>
            <string>美国</string>
            <key>timeZone</key>
            <integer>-8</integer>
        </dict>
        <dict>
            <key>cityNamePY</key>
            <string>niuyue</string>
            <key>cityNameEN</key>
            <string>NewYork</string>
            <key>cityName</key>
            <string>纽约</string>
            <key>country</key>
            <string>美国</string>
            <key>timeZone</key>
            <integer>-5</integer>
        </dict>
        <dict>
            <key>cityNamePY</key>
            <string>lundun</string>
            <key>cityNameEN</key>
            <string>London</string>
            <key>cityName</key>
            <string>伦敦</string>
            <key>country</key>
            <string>英国</string>
            <key>timeZone</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>cityNamePY</key>
            <string>bali</string>
            <key>cityNameEN</key>
            <string>Paris</string>
            <key>cityName</key>
            <string>巴黎</string>
            <key>country</key>
            <string>法国</string>
            <key>timeZone</key>
            <integer>1</integer>
        </dict>
	</array>
</dict>
</plist>
